[Desktop Entry]
Name=ProtonLaunch
Comment=Install and launch Windows games on Steam Deck
Exec=/home/deck/.local/bin/protonlaunch
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
